# Python
__pycache__/
*.py[cod]
*.pyo
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
env/

# Streamlit local secrets
.streamlit/secrets.toml

# OS and IDE files
.DS_Store
.idea/
.devcontainer/

# Local logs
*.log
